@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Heebo', sans-serif;
  background-color: #f3f4f6;
  -webkit-tap-highlight-color: transparent;
}

/* Glassmorphism utility class */
.glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Safe Area for Mobile */
.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}